@using CentroEventos.Aplicacion.CasosDeUso.UsuarioCasosDeUso
@using CentroEventos.Aplicacion.Interfaces
@using CentroEventos.Aplicacion.Servicios
@using CentroEventos.Repositorios
@page "/home"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject ModificarUsuarioUseCase modificarUsuarioUseCase
@inject Sesion sesion
@if(sesion.isLogin())
{
    <h2>Bienvenido a Centro de Eventos!</h2>
}
@if(!sesion.isLogin())
{
    <h1><a href="/">INICIAR SESION!</a></h1>
}

@code{
    IRepositorioUsuario repositorioUsuario = new RepositorioUsuario();


}using CentroEventos.Aplicacion.CasosDeUso.UsuarioCasosDeUso;
#line default
